---
---

@import '{{ site.theme }}';

@media print {
	body {
		padding: 0px;
		margin: 0px;
	}

	.page-header {
		padding: 0px;
		margin: 0px;
	}

	.main-content {
		padding: 2rem 4rem;
	}

	.btn {
		display: none;
	}

	#-education-and-training {
		page-break-before: always;
	}
}
